# Node.js
node_modules/
dist/
coverage/

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.test

# VSCode settings
.vscode/

# MacOS
.DS_Store

# IDEs and editors
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Build directories
build/
tmp/
temp/
out/

# TypeScript
*.d.ts

# Debugger
debug/
